.slider {
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
    height: 800px;
}
.slider img {
    width: 100%;
    display: none;
}
/* если у img есть класс displaySlide мы отобразим его через display block  */
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 5s;
}

img.red {
    background-color: red;
}

/* all buttons in slider */
.slider button { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

#btn-prev {
    left: 0;
}
#btn-next {
    right: 0;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

 .slide {
    display: none;
    position: relative;
    width: 100%;
    /* height: 100%; */
}

.dots {
    text-align: center;
    margin-top: 10px;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}
.gray {
    background-color: gray;
}
.dot.clicked {
    background: red;
}
.dot.hover:hover{
    transform: scale(2s);
}